@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/valorant');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    
}
body {
    background-color:#0F1922;
    padding: 0px;
    overflow-x: hidden;
    color: white;
}

    .navbar {
    background-color: #0F1922;
    margin-top: -8px;
    margin-bottom: 0%;
  }
    
    nav ul li:hover {
    background-color:#fd4556;
    border-radius: 5px;
    }

    .mb-3 {
        margin: 25px;
    
    }
    .card{
        background-color: #fd4556;
    }
    
    h1{
        font-family: 'Valorant', sans-serif;
        color: white;
        margin-left: 10px;
    }

    h2 li{
      font-family: 'Valorant', sans-serif;
        color: white;
    }
  
    .role {
        margin-left: 20px;
        margin-top: 10px;
    }

    .initiator li, .duelist li, .controller li, .sentinel li{
        font-weight: bolder;
        font-size: large;
        margin-left: 30px;
    }

    .maps p {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .container{
      margin: 30px 0px auto;
      width: 100%;
      align-items: left;
      justify-content: left;
      display: flex;
      flex-direction: row;
    }

    .maps img{
      max-width: 850px;
      float: right;
      border-radius: 5px;
      margin-right: 20px;
      animation: mymove 5s linear;
    }

  
    @keyframes mymove {
      0% {
        transform: translateX(300px); /* Start from the right */
    }
    50% {
        transform: translateX(0); /* Move to the original position halfway through */
    }
    

    }
    .container p{
      margin-top: 150px;
      font-size: 120%;
    }

  

 /* Quiz */
.start-screen, .score-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

#start-button, #restart {
  font-size: 21px;
  padding: 8px 29px;
  border-radius: 4px;
  box-shadow: 0 32px 48px rgba(0, 0, 0, 0.4);
  background-color: #fd4556; 
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

#restart {
  margin-top: 10px;
}

#start-button:hover, #restart:hover {
  background-color: #ffffff;
  color: #fd4556;
  }

#display-container {
  background-color: #fd4556;
  padding: 51px 29px;
  width: 80%;
  max-width: 600px;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 325px;
  left: 50%;
  border-radius: 10px;
}

.header {
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1.6px solid #fd4556;
}

.timer-div {
  background-color: #fd4556;
  width: 120px;
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 29px;
}

.question {
  margin-bottom: 20px;
  font-weight: 600;
}

.option-div {
  font-size: 15px;
  width: 100%;
  padding: 16px;
  margin: 5px 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 5px;
}

.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}

#next-button {
  font-size: 16px;
  margin-top: 24px;
  background-color: #0F1922;
  color: #ffffff;
  padding: 11.2px 28.8px;
  border-radius: 5px;
  float: right;
  box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.3);
}

.hide {
  display: none;
}

.incorrect {
  background-color: rgb(196, 30, 58);
  color: #d32f2f;
  border-color: #d32f2f;
}

.correct {
  background-color: rgb(79, 121, 66);
  color: #689f38;
  border-color: #689f38;
}

#user-score, #result {
  font-size: 24px;
  color: white;
}